*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Menu {
display: flex;
flex-direction: row;
justify-content: center;
gap: 30px;
padding: 40px;
background: #fff;
}
.foob-item {
    text-align: center;
    width: 180px;
}
.foob-item img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.foob-item p{
    margin-top: 10px;
    font-weight: bold;
}
