*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
}
.foob-item {
    text-align: center;
}
.foob-item img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
.foob-item p{
    font-weight: bold;
}
.foob {
}
